<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Подтвердить удаление книги</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<p th:text="'Вы действительно хотите удалить книгу ' + ${book.title} + '?'">Вы действительно хотите удалить книгу?</p>
<form id="delete-form" action="confirm-delete-book.html" th:action="@{/delete(id=${book.id})}" method="post">
    <div class="row">
        <button type="submit">Удалить</button>
    </div>
</form>
<div class="row">
    <a href="books.html" th:href="@{/}">
        <button type="button">На главную</button>
    </a>
</div>

</body>
</html>
